.venv
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
.DS_Store
.idea/
.vscode/
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/
.cache/
.mypy_cache/
.pyre/
.pytype/
.ipynb_checkpoints/
coverage.xml

    